.App {
  font-size: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

html {
  background-image: url(./images/Subtle-Dots-White-Tileable-pattern.jpg);
}

.Content {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  align-items: center;
}

h2 {
  font-size: 1.75rem;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid blue;
  margin-bottom: 1rem;
  box-shadow: 0 0 .7rem darkblue;
  height: 4rem;
}

.Home {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Home > #image__headshot {
  width: 15rem;
  margin: 1rem;
}

li {
  list-style: none;
}

#link {
  cursor: pointer;
  font-size: 1rem;
  transition: .2s;
}

#link:hover {
  transition: .2s;
  text-shadow: 1px 1px 2px darkslategray;
}

.Main {
  margin-left: 15%;
  margin-right: 15%;
}

.Project-List-Item {
  transition: .2s;
  border-bottom: 1px solid black;
}

.Project-List-Item:hover {
  transition: .2s;
  text-shadow: 1px 1px 2px darkslategray;
}

* {
  font-family: 'IBM Plex Mono', monospace;
}

p {
  font-size: 1rem;
}