html{
  background-image: url('/src/images/Subtle-Dots-White-Tileable-pattern.jpg');
  background-repeat: repeat;
  background-size: contain;
}

.App {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.About-Me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

#About-Me__Text{

}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid blue;
  box-shadow: 0 0 .7rem darkblue;
}

.Header-Button{
  user-select: none;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: max-content;
  background-color: transparent;
  transition: .4s;
}

.Header-Button:hover{
  background-color: blue;
  color: whitesmoke;
  cursor: pointer;
}

.Home {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#image__headshot {
  width: 15rem;
  margin: 1rem;
}

.Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100%;
}

#Projects-Bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.Projects-Bar__Item{
  user-select: none;
  font-weight: bold;
  margin: 1rem;
  transition: .6s;
  outline: transparent solid 2px;
}

.Projects-Bar__Item:hover{
  outline: blue solid 2px;
  cursor: pointer;
}