.App {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.Content {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  align-items: center;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid blue;
  box-shadow: 0 0 .7rem darkblue;
}

.Home {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.Home > #image__headshot {
  width: 15rem;
  margin: 1rem;
}